@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Outfit", sans-serif;
	background-color: hsl(212, 45%, 89%);
}

p {
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}

h2 {
	font-weight: 700;
	color: hsl(218, 44%, 22%);
}

img {
	border-radius: 10px;
	width: 300px;
}

.container {
	width: 300px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.card {
	background-color: hsl(0, 0%, 100%);
	display: grid;
	place-content: center;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	border-radius: 25px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	position: absolute;
	box-shadow: hsla(212, 35%, 79%, 1) 0px 4px 16px,
		hsla(212, 35%, 79%, 1) 0px 8px 24px,
		hsla(212, 35%, 79%, 1) 0px 16px 56px;
	height: fit-content;
	width: fit-content;
}
